.page {
  height: 100vh;
  text-align: center;
}

.page > h1 {
  margin: 0;
  padding-top: 20px;
}

.page .video-player-container {
  width: 80%;
  margin: 15px 10%;
}

.page .video-player-container .video-player {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.page .video-player-container .video-player .arrow {
  color: #aaa;
  font-size: 80px;
  cursor: pointer;
}

.page .video-player-container .video-player .arrow:hover {
  color: #666;
}

.page .video-player-container .error,
.page .video-player-container .loading-video {
  padding: 15px;
  display: flex;
  font-size: 20px;
  min-height: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px #ddd;
}

.page .video-player-container .loading-video .loader {
  width: 60px;
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 20s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .page .video-player-container {
    width: 100%;
    margin: 20px 0;
  }
  .page .video-player-container .video-player .arrow {
    z-index: 1;
    position: absolute;
  }
  .page .video-player-container .video-player .arrow-left {
    left: 0;
  }
  .page .video-player-container .video-player .arrow-right {
    right: 0;
  }
}