.page {
  height: 100vh;
  text-align: center;
}

.page > h1 {
  margin: 0;
  padding: 30px 0;
}

.page .video-player-container {
  width: 80%;
  margin: 20px 10%;
}

.page .video-player-container .video-player {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.page .video-player-container .video-player .arrow {
  color: #aaa;
  font-size: 80px;
  cursor: pointer;
}

.page .video-player-container .video-player .arrow:hover {
  color: #666;
}

@media only screen and (max-width: 768px) {
  .page .video-player-container {
    width: 100%;
    margin: 20px 0;
  }
  .page .video-player-container .video-player .arrow {
    z-index: 1;
    position: absolute;
  }
  .page .video-player-container .video-player .arrow-left {
    left: 0;
  }
  .page .video-player-container .video-player .arrow-right {
    right: 0;
  }
}